<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

        <context:property-placeholder location="classpath:musicPlayer.properties"/>

        <bean id="classicalMusic" class="kz.timka.spring.xmlConfig.ClassicalMusic" scope="prototype"
              init-method="doMyInit" destroy-method="doMyDestroy"
              factory-method="getInstance"/> <!-- теперь когда спринг будет создавать бин по этому классу он будет вызывать фабричный метод-->

        <bean id="rockMusic" class="kz.timka.spring.xmlConfig.RockMusic" scope="prototype"/>

        <bean id="rapMusic" class="kz.timka.spring.xmlConfig.RapMusic" scope="prototype"/>



        <bean id="musicPlayer" class="kz.timka.spring.xmlConfig.MusicPlayer" scope="prototype">
                <!--> <constructor-arg ref="rockMusic"/> <-->
                <!--> <property name="music" ref="rockMusic"/> <-->

                <property name="musicList">
                        <list value-type="java.util.ArrayList">
                                <ref bean="classicalMusic"/>
                                <ref bean="rockMusic"/>
                                <ref bean="rapMusic"/>
                        </list>
                </property>

                <property name="name" value="${musicPlayer.name}"/>
                <property name="volume" value="${musicPlayer.volume}"/>
        </bean>





</beans>