<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

        <context:property-placeholder location="classpath:musicPlayer.properties"/>

        <bean id="classicalMusic" class="kz.timka.spring.ClassicalMusic"/>

        <bean id="rockMusic" class="kz.timka.spring.RockMusic"/>

        <bean id="musicPlayer" class="kz.timka.spring.MusicPlayer">
                <!--> <constructor-arg ref="rockMusic"/> <-->
                <property name="music" ref="rockMusic"/>
                <property name="name" value="${musicPlayer.name}"/>
                <property name="volume" value="${musicPlayer.volume}"/>
        </bean>





</beans>